.container {
  margin-top: 20px;
}

.map {
  border: 2px solid black;
  border-radius: 5px;
}

.map-legend {
  border: 2px solid black;
  border-radius: 5px;
  padding-left: 10px;
  height:500px;
}
body {
  padding: 0;
  margin: 0;
}
html, body, .map {
  height: 100%;
  width: 100%;
}