.container {
  min-width: 1000px !important;
}

.map {
  height: 600px;
}

#user-input {
  background-color: transparent !important;
}

::placeholder {
  color: rgba(232, 233, 232, 0.67) !important;
  font-size: 20px !important;
}

hr {
  background-color: white;
  height: 5px !important;
  opacity: 1 !important;
}

h1,
h2,
form,
label,
#user-input {
  color: white !important;
}

.btn {
  border: none !important;
  background-color: white !important;
  color: black !important;
  margin-bottom: 2px;
  font-size: 20px !important;
}

h1 {
  font-size: 100px !important;
  background-color: transparent !important;
  font-weight: 500 !important;
  font-family: 'Indie Flower', cursive !important;
}

h2 {
  font-size: 50px !important;
}

div.jumbotron {
  background: gray;
}

div.col-md-3.map-legend {
  padding: 30px;
  border: 10px solid white;
  background-color: rgba(4, 4, 4, 0.66) !important;
}

body {
  background-image: url("../images/bus.jpg");
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.form-check {
  font-size: 22px;
}

.form-check-input {
  font-size: 30px;
}

.search-title {
  font-size: 40px;
}

/*-- user input error message --*/
.error {
  color: red;
  font-size: 18px;
  padding-top: 2px !important;
  margin-bottom: 0px !important;
}


label.error {
  display: inline;
}
